@charset "UTF-8";
body,
input,
textarea,
select {
	font-family: 'Jost', sans-serif;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.85em;
	font-weight: 300;
	font-size: 1em;
}

.wrap-fluid {
	width: 100%;
	margin: 0px auto;
	padding: 0px;
}

.wrap {
	margin: 0 2em;
	padding: 0px;
}


/* Row */

.row {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: stretch;
}

.row-min {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: stretch;
	margin: 0 4em;
}

.row>* {
	box-sizing: border-box;
}

.row.gtr-uniform>*> :last-child {
	margin-bottom: 0;
}

.row>.imp {
	order: -1;
}

.row>.col-1 {
	width: 8.33333%;
}

.row>.col-2 {
	width: 16.66667%;
}

.row>.col-3 {
	width: 25%;
}

.row>.col-4 {
	width: 33.33333%;
}

.row>.col-5 {
	width: 41.66667%;
}

.row>.col-6 {
	width: 50%;
}

.row>.col-7 {
	width: 58.33333%;
}

.row>.col-8 {
	width: 66.66667%;
}

.row>.col-9 {
	width: 75%;
}

.row>.col-10 {
	width: 83.33333%;
}

.row>.col-11 {
	width: 91.66667%;
}

.row>.col-12 {
	width: 100%;
}

.row {
	/* margin-top: -25px;
	margin-left: -25px; */
}

.row>* {
	/* padding: 25px 0 0 25px; */
}

@media screen and (max-width: 1680px) {
	.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
	}
	.row>* {
		box-sizing: border-box;
	}
	.row>.imp-xlarge {
		order: -1;
	}
	.row>.col-1-xlarge {
		width: 8.33333%;
	}
	.row>.col-2-xlarge {
		width: 16.66667%;
	}
	.row>.col-3-xlarge {
		width: 25%;
	}
	.row>.col-4-xlarge {
		width: 33.33333%;
	}
	.row>.col-5-xlarge {
		width: 41.66667%;
	}
	.row>.col-6-xlarge {
		width: 50%;
	}
	.row>.col-7-xlarge {
		width: 58.33333%;
	}
	.row>.col-8-xlarge {
		width: 66.66667%;
	}
	.row>.col-9-xlarge {
		width: 75%;
	}
	.row>.col-10-xlarge {
		width: 83.33333%;
	}
	.row>.col-11-xlarge {
		width: 91.66667%;
	}
	.row>.col-12-xlarge {
		width: 100%;
	}
	.row {
		/* margin-top: -25px;
		margin-left: -25px; */
	}
	.row>* {
		/* padding: 25px 0 0 25px; */
	}
}

@media screen and (max-width: 1280px) {
	.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
	}
	.row>* {
		box-sizing: border-box;
	}
	.row>.imp-large {
		order: -1;
	}
	.row>.col-1-large {
		width: 8.33333%;
	}
	.row>.col-2-large {
		width: 16.66667%;
	}
	.row>.col-3-large {
		width: 25%;
	}
	.row>.col-4-large {
		width: 33.33333%;
	}
	.row>.col-5-large {
		width: 41.66667%;
	}
	.row>.col-6-large {
		width: 50%;
	}
	.row>.col-7-large {
		width: 58.33333%;
	}
	.row>.col-8-large {
		width: 66.66667%;
	}
	.row>.col-9-large {
		width: 75%;
	}
	.row>.col-10-large {
		width: 83.33333%;
	}
	.row>.col-11-large {
		width: 91.66667%;
	}
	.row>.col-12-large {
		width: 100%;
	}
	.row {
		/* margin-top: -25px;
		margin-left: -25px; */
	}
	.row>* {
		/* padding: 25px 0 0 25px; */
	}
}

@media screen and (max-width: 980px) {
	.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
	}
	.row>* {
		box-sizing: border-box;
	}
	.row>.imp-medium {
		order: -1;
	}
	.row>.col-1-medium {
		width: 8.33333%;
	}
	.row>.col-2-medium {
		width: 16.66667%;
	}
	.row>.col-3-medium {
		width: 25%;
	}
	.row>.col-4-medium {
		width: 33.33333%;
	}
	.row>.col-5-medium {
		width: 41.66667%;
	}
	.row>.col-6-medium {
		width: 50%;
	}
	.row>.col-7-medium {
		width: 58.33333%;
	}
	.row>.col-8-medium {
		width: 66.66667%;
	}
	.row>.col-9-medium {
		width: 75%;
	}
	.row>.col-10-medium {
		width: 83.33333%;
	}
	.row>.col-11-medium {
		width: 91.66667%;
	}
	.row>.col-12-medium {
		width: 100%;
	}
	.row {
		/* margin-top: -25px;
		margin-left: -25px; */
	}
	.row>* {
		/* padding: 25px 0 0 25px; */
	}
}

@media screen and (max-width: 736px) {
	.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
	}
	.row>* {
		box-sizing: border-box;
	}
	.row>.imp-small {
		order: -1;
	}
	.row>.col-1-small {
		width: 8.33333%;
	}
	.row>.col-2-small {
		width: 16.66667%;
	}
	.row>.col-3-small {
		width: 25%;
	}
	.row>.col-4-small {
		width: 33.33333%;
	}
	.row>.col-5-small {
		width: 41.66667%;
	}
	.row>.col-6-small {
		width: 50%;
	}
	.row>.col-7-small {
		width: 58.33333%;
	}
	.row>.col-8-small {
		width: 66.66667%;
	}
	.row>.col-9-small {
		width: 75%;
	}
	.row>.col-10-small {
		width: 83.33333%;
	}
	.row>.col-11-small {
		width: 91.66667%;
	}
	.row>.col-12-small {
		width: 100%;
	}
	.row {
		/* margin-top: -15px;
		margin-left: -15px; */
	}
	.row>* {
		/* padding: 15px 0 0 15px; */
	}
}


/* start menu style */

.navigation {
	height: 70px;
	background: rgba(0, 0, 0, 1);
	position: absolute;
	width: 100%;
	z-index: 10;
	top: 0px;
}

.brand {
	position: absolute;
	padding-left: 20px;
	float: left;
	line-height: 70px;
	text-transform: uppercase;
	font-size: 1.4em;
}

.brand a,
.brand a img {
	width: 100px;
	margin-top: 5px;
}

.nav-container {
	max-width: 1680px;
	margin: 0 auto;
}

nav {
	float: right;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	float: left;
	position: relative;
}

nav ul li a,
nav ul li a:visited {
	display: block;
	padding: 0 20px;
	line-height: 70px;
	background: rgba(0, 0, 0, 1);
	color: #ffffff;
	text-decoration: none;
}

nav ul li a:hover,
nav ul li a:visited:hover {
	background: rgba(0, 0, 0, 1);
	color: #ffffff;
}

.liActive {
	background-color: #2581DC !important;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
	padding-left: 4px;
	content: " ▾";
}

nav ul li ul li {
	min-width: 190px;
}

nav ul li ul li a {
	padding: 15px;
	line-height: 20px;
	background-color: #2581DC !important;
}

nav ul li ul li a:hover {
	background-color: #000 !important;
}

.nav-dropdown {
	position: absolute;
	display: none;
	z-index: 1;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}


/* Mobile navigation */

.nav-mobile {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(0, 0, 0, 0);
	height: 70px;
	width: 70px;
}

@media only screen and (max-width: 798px) {
	.nav-mobile {
		display: block;
	}
	nav {
		width: 100%;
		padding: 70px 0 15px;
	}
	nav ul {
		display: none;
	}
	nav ul li {
		float: none;
	}
	nav ul li a {
		padding: 15px;
		line-height: 20px;
	}
	nav ul li ul li a {
		padding-left: 30px;
	}
	.nav-dropdown {
		position: static;
	}
}

@media screen and (min-width: 799px) {
	.nav-list {
		display: block !important;
	}
}

#nav-toggle {
	position: absolute;
	left: 18px;
	top: 22px;
	cursor: pointer;
	padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
	cursor: pointer;
	border-radius: 1px;
	height: 3px;
	width: 35px;
	background: #ffffff;
	position: absolute;
	display: block;
	content: "";
	transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
	top: -10px;
}

#nav-toggle span:after {
	bottom: -10px;
}

#nav-toggle.active span {
	background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
	top: 0;
}

#nav-toggle.active span:before {
	transform: rotate(45deg);
}

#nav-toggle.active span:after {
	transform: rotate(-45deg);
}


/* end menu style */


/* start slider style */

.slide-content {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
}

.slide {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.slide1 {
	background-image: url("../images/slider/1.jpg");
}

.slide2 {
	background-image: url("../images/slider/2.jpg");
}

.slide3 {
	background-image: url("../images/slider/3.jpg");
}

.slide-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.slide-content span {
	font-size: 3rem;
	color: #fff;
	position: absolute;
	bottom: 150px;
}

.arrow {
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -35px;
	width: 0;
	height: 0;
	border-style: solid;
}

#arrow-left {
	border-width: 10px 15px 10px 0;
	border-color: transparent #fff transparent transparent;
	left: 0;
	margin-left: 25px;
}

#arrow-right {
	border-width: 10px 0 10px 15px;
	border-color: transparent transparent transparent #fff;
	right: 0;
	margin-right: 25px;
}


/* end slider style */


/* start about page style */

.about-banner {
	position: relative !important;
	top: 70px !important;
	background: #000 url('../images/about-banner.jpg') center center;
	opacity: 0.9;
	height: 200px;
	z-index: 0;
	padding: 25px 0px;
	background-size: 100%;
}

.about-banner h2 {
	position: absolute;
	width: 100%;
	font-size: 30px;
	color: #fff;
	text-align: center;
	line-height: 30px;
	padding-top: 30px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.about-banner p {
	position: absolute;
	width: 100%;
	font-size: 16px;
	color: #fff;
	text-align: center;
	padding-top: 80px;
	margin-top: 0px;
}

.about-info {
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	font-weight: 300;
	color: #333;
}

.about-info span {
	float: right;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 1px;
	padding: 50px 0px 100px 0px;
}


/* end about page style */


/* start contact style */

.contact-form {
	margin-bottom: 150px;
	width: 80%;
}

label,
input,
textarea {
	display: block;
	width: 100%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {}

span {
	font-weight: 700;
	color: #102a43;
	line-height: 35px;
	line-height: 2.5rem;
	font-size: 12px;
	font-size: 0.8rem;
	text-transform: uppercase;
}

input[type="submit"] {
	background: #fc4366;
	color: white;
	font-weight: 700;
	font-size: 1.2rem;
	border-radius: 5px;
	margin-top: 1.3em;
}

.container {
	width: 460px;
	margin: 5em auto;
}

form {
	background-color: #ffffff;
	padding-top: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	padding-left: 40px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	overflow: hidden;
}

.required-star {
	color: #fc4366;
}

input,
textarea {
	width: 100%;
	padding: 9px 20px;
	border: 1px solid #e1e2eb;
	background-color: #fff;
	color: #102a43;
	caret-color: #829ab1;
	box-sizing: border-box;
	font-size: 14px;
	font-size: 1rem;
	line-height: 29px;
	line-height: 2rem;
	box-shadow: inset 0 2px 4px 0 rgba(206, 209, 224, 0.2);
	border-radius: 3px;
	line-height: 29px;
	line-height: 2rem;
}


/* end contact style */


/* start blog style */

.blogArea {
	margin-top: 50px;
	margin-bottom: 100px;
}

.blog-item {
	position: relative;
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: 1px solid #ccc;
	margin-right: 25px;
}

.blog-item h2 {
	margin: 0px;
}

.blog-item .blog-item-text {
	font-size: 16px;
	line-height: 20px;
	margin-left: 25px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: justify;
}

.blog-item .blog-item-text a {
	display: block;
	font-size: 12px;
	line-height: 26px;
	padding: 0px 10px;
	font-weight: 500;
	background: #333;
	color: #fff;
	width: 100px;
	text-align: center;
	text-decoration: none;
	float: right;
	margin-top: 25px;
}

.blog-item .blog-item-text a:hover {
	background: #2581DC;
}

.categorie-menu {
	margin: 0px;
	padding: 0px;
}

.categorie-menu li {
	margin-left: 15px;
	margin-bottom: 10px;
}

.categorie-menu li a {
	background-color: #f5f5f5;
	display: block;
	line-height: 40px;
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
	color: #333;
	padding-left: 15px;
}

.categorie-menu li a:hover {
	background-color: #2581DC;
	color: #fff;
}


/* end blog style */


/* start portfolio style */

img.hover-shadow {
	transition: all 0.3s;
}

.carousel-row {
	max-width: 80%;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.carousel-row--img {
	width: 30%;
	margin-bottom: 25px;
}

.carousel-row--img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
	transition: 0.4s;
}

.carousel-row--img img:hover {
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
}

.column-box {
	white-space: nowrap;
	background-color: transparent;
	width: 100%;
	background: black;
	overflow: hidden;
}

.column-box .column {
	width: 20%;
	display: inline-block;
	transition: all 1s;
}

.column-box .column img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}


/* The Modal */

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding: 50px 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: black;
}

.modal.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.modal-content {
	margin: auto;
	width: 50%;
	overflow: hidden;
}

@media only screen and (max-width: 37.5em) {
	.modal-content {
		width: 90%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

@keyframes anime {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.my-slides {
	display: none;
	height: 60vh;
	transition: all 2s;
	overflow: hidden;
	animation: anime 0.8s ease-in;
	position: relative;
}

@media only screen and (max-width: 56.25em) {
	.my-slides {
		height: 70vh;
	}
}

@media only screen and (max-width: 37.5em) {
	.my-slides {
		height: 30vh;
	}
}

.my-slides img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.my-slides--number {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.demo {
	opacity: 0.5;
	transition: all 0.4s;
}

.demo.active,
.demo:hover {
	opacity: 1;
}


/* Caption text */

.caption-container {
	text-align: center;
	background-color: black;
	padding: 6px 16px;
	color: white;
}


/* The Close Button */

.close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
}


/* Next & previous buttons */

.prev,
.next {
	cursor: pointer;
	position: fixed;
	top: 50%;
	width: auto;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 50px;
	transition: 0.6s ease;
	transform: translateY(-50%);
}

@media only screen and (max-width: 37.5em) {
	.prev,
	.next {
		position: fixed;
		top: 95%;
		padding: 10px;
		font-size: 40px;
		transform: translateY(-50%);
	}
}

.prev:active,
.next:active {
	font-size: 30px;
}


/* Position the "next button" to the right */

.next {
	right: 0;
}

.prev {
	left: 0;
}

@media only screen and (max-width: 37.5em) {
	.prev {
		left: 80%;
	}
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 37.5em) {
	.prev:hover,
	.next:hover {
		background-color: transparent;
	}
}


/* end portfolio style */


/* start footer style */

.footerArea {
	background-color: #000;
	padding: 50px 0px 75px 0px;
}

.footer-logo {
	width: 100px;
	margin: 0px 20px;
}

.footer-p {
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	margin: 0px 20px;
}

.footer-h4 {
	font-size: 20px;
	line-height: 40px;
	margin: 10px 20px;
	color: #fff;
	font-weight: 500;
}

.footer-ul {
	margin: 0px 20px 20px 20px;
	padding: 0px;
	list-style: disc;
	color: #fff;
}

.footer-ul li {
	margin-left: 20px;
}

.footer-ul li a {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	text-decoration: none;
}

.footer-address {
	margin: 0px 20px 20px 20px;
	font-size: 14px;
	line-height: 24px;
	color: #fff;
}

.footer-bottom {
	border-top: 1px solid #fff;
	margin-top: 15px;
}

.footer-bottom-text {
	font-size: 14px;
	line-height: 30px;
	color: #fff;
	margin: 15px 0px;
}

.footer-bottom-text a {
	color: #fff;
	float: right;
	margin: 0px 20px;
	text-decoration: none;
}


/* end footer style */


/* start main style */

.bodyArea {
	margin-top: 90px;
}

h2 {
	font-size: 20px;
	font-weight: 400;
	line-height: 40px;
	margin: 20px 0px 20px 0px;
	letter-spacing: 1px;
	padding: 0px;
}

.text-center {
	text-align: center;
}

.color-black {
	color: #000 !important;
}

.font-size-16px {
	font-size: 16px;
}

.line-height-30px {
	line-height: 30px;
}

.width100 {
	width: 100%;
}

.margin-top-0px {
	margin-top: 0px;
}


/* end main style */


/* start responsive style */

@media only screen and (min-width: 320px) and (max-width: 479px) {
	nav ul li a {
		border-bottom: 1px solid rgba(255, 255, 255, 0.25);
	}
	.slide-content span {
		font-size: 2rem;
		position: absolute;
		top: 50%;
	}
	.about-banner {
		padding: 0px;
		top: 70px !important;
	}
	.about-banner h2 {
		font-size: 24px;
		line-height: 24px;
	}
	.about-banner p {
		font-size: 14px;
		line-height: 14px;
	}
	.contact-form {
		margin-bottom: 50px;
	}
	form {
		padding: 40px 30px;
	}
	.blogArea {
		margin-top: 100px;
		margin-bottom: 75px;
	}
	.blog-item {
		margin-right: 0px;
	}
	.blog-item .blog-item-text {
		margin-left: 0px;
	}
	.blog-item .blog-item-text a {
		float: none;
		margin-top: 25px;
	}
	.categorie-menu li {
		margin-left: 0px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	nav ul li a {
		border-bottom: 1px solid rgba(255, 255, 255, 0.25);
	}
	.slide-content span {
		font-size: 2rem;
		position: absolute;
		top: 50%;
	}
	.about-banner {
		padding: 0px;
		top: 70px !important;
	}
	.about-banner h2 {
		font-size: 24px;
		line-height: 24px;
	}
	.about-banner p {
		font-size: 14px;
		line-height: 14px;
	}
	.contact-form {
		margin-bottom: 50px;
	}
	form {
		padding: 40px 30px;
	}
	.blogArea {
		margin-top: 100px;
		margin-bottom: 75px;
	}
	.blog-item {
		margin-right: 0px;
	}
	.blog-item .blog-item-text {
		margin-left: 0px;
	}
	.blog-item .blog-item-text a {
		float: none;
		margin-top: 25px;
	}
	.categorie-menu li {
		margin-left: 0px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (min-width: 992px) and (max-width: 1200px) {}


/* end responsive style */